.headerContainer {
  box-sizing: border-box;
  background-color: white;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  border-radius: 10px 10px 0% 0%;
  cursor: default;
}

.headerText {
  margin: 0;
  font-size: 20px;
}

.headerButton {
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  color: #213547;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
